/* styles.css */

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #030303;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 32px;
}

.text-base {
  font-size: 16px;
}
